body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 95%;
}

.search-box {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.pokemon-details {
    margin-top: 20px;
    text-align: left;
}

.pokemon-details img {
    max-width: 150px;
}

header
{
    background-color: cadetblue;
    font-family: cursive;
    color: white;
    position: top;
    width: 100%;
}

footer
{
    background-color: cadetblue;
    font-family: cursive;
    color: white;
    width: 100%;
}
ol{
    list-style-type: none;
}